* {
  margin: 0;
  padding: 0;
}
.container {
  width: 95%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
button {
  border: none;
  cursor: pointer;
}

/* header */

#header {
  fill: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hed-leng {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  border: 1px solid #253659;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hed-leng p {
  color: #253659;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
}
.hed-leng p span {
  width: 34px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid #253659;
  background: #253659;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.hed-number p {
  color: #253659;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.hed-icon {
  margin: 0 25px;
}
.header-nav a {
  margin: 0 25px;
  color: #253659;
  font-size: 14px;
  font-weight: 500;
}
.header-nav a:hover {
  text-decoration: underline;
}

/* buytik */

#buytik {
  background: url(./img/buyutik\ bg.png) no-repeat center/cover;
  min-height: 650px;
  height: 90vh;
}
.buytik-logo {
  /* height: 100vh; */
  padding-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buytik-pos1 {
  position: relative;
}
.buytik-pos1 img {
  position: absolute;
  bottom: 103px;
  left: -32px;
}
.buytik-pos2 {
  position: relative;
}
.buytik-pos2 img {
  position: absolute;
  bottom: 90px;
  left: 848px;
}
.buytik-icon span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 30vh;
  z-index: 99;
}

/* buytik-cards */

#buytik-cards {
  padding: 80px 0;
}
.buytik-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.radio {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.radios {
  display: flex;
  align-items: center;
}
.btn button {
  margin-right: 13px;
  width: 174px;
  height: 54px;
  background-color: #fff;
  border: 1px solid #000;
  color: #253659;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.btn button:hover {
  background: #253659;
  color: #fff;
}
.btn button span {
  padding-right: 5px;
  width: 20px;
  height: 20px;
  color: #009ee3;
}
.card1 div h6 {
  padding: 20px 0 7px 0;
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.range h5 {
  color: #253659;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.4px;
}
.range {
  padding: 10px 0 0 9px;
  width: 347px;
  height: 45px;
  border: 1px solid #253659;
}
.range input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 3px;
  stroke-width: 3px;
  background-color: #253659;
}
.range input [type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: #253659;
}
.radio input {
  width: 14px;
  height: 14px;
}
.radio h5 {
  color: #253659;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.price {
  padding: 5px 0;
}
.price h6 {
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.price-btn button {
  margin-right: 14px;
  width: 76px;
  height: 45px;
  border: 1px solid #253659;
  color: #253659;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 2.4px;
}
.price-btn button:hover {
  background: #253659;
  color: white;
}
.price-btn span button {
  border: none;
  width: 77px;
  height: 45px;
  background: rgba(37, 54, 89, 0.1);
  color: #009ee3;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 2.4px;
}
.select h6 {
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.select select option {
  font-size: 15px;
}
.select select {
  padding: 0 10px;
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
  width: 365px;
  height: 60px;
  border: 1px solid #253659;
}
.card1-btn {
  padding-top: 25px;
}
.card1-btn button {
  width: 365px;
  height: 60px;
  background: #253659;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.cards {
  gap: 40px;
  padding: 50px 0;
  display: flex;
}
.card1 {
  padding: 38px;
  width: 382px;
  height: 484px;
  border: 1px solid #253659;
}
.card-up h1 {
  color: rgb(37, 54, 89);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 2.4px;
}
.card-up h1 span {
  color: #253659;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.4px;
}
.curs h2 {
  color: #253659;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.4px;
}
.curs h3 {
  color: #009ee3;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.4px;
}
.curs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  padding-bottom: 0.6pc;
  border-bottom: 1px solid black;
}
.card-up h5 {
  margin-top: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.card-up h5 a {
  color: #009ee3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-decoration-line: underline;
}
.card-dawn h3 {
  color: #253659;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-top: 20px;
}
.dawn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.dawn-text h4 {
  color: #253659;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
}
.dawn-text h5 {
  color: #009ee3;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.card-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-up {
  width: 382px;
  height: 245px;
  background: rgba(37, 54, 89, 0.1);
  padding: 40px 30px 0 30px;
}
.card-dawn {
  width: 382px;
  height: 245px;
  background: rgba(37, 54, 89, 0.1);
  padding: 10px 30px 0 30px;
}

/* buytik-about */

#buytik-about {
  padding: 20px 0;
}
.buytik-about {
  position: relative;
}
.buytik-about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buytik-about-text h1 {
  margin-bottom: 10px;
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.buytik-about-text p {
  width: 930px;
  color: #253659;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.buytik-about-location {
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 215px;
}
.about-location-text h1 {
  margin-bottom: 10px;
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.about-location-text p {
  display: flex;
  align-items: flex-start;
  width: 295px;
  color: #253659;
  font-size: 16px;
  font-weight: 400;
}
.about-location-img img {
  width: 700px;
  height: 440px;
}
.about-png img {
  position: absolute;
  bottom: 309px;
  left: 544px;
  width: 120px;
  height: 120px;
}

/* spanish */

#spanish {
  padding: 90px 0;
}
.spanish-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spanish-text h2 {
  width: 745px;
  color: #253659;
  font-size: 36px;
  font-weight: 600;
}
.spanish-text p {
  padding: 20px 0 40px 0;
  width: 875px;
  color: #253659;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.spanish-img {
  display: flex;
}
.spanish-img img {
  width: 400px;
  height: 300px;
}



.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/* planet */

#planet {
  padding: 0 0 10px 0;
}
.planet-imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.planet-img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.planet-img1 img {
  width: 60px;
  height: 60px;
}
.planet-img1 h5 {
  margin-top: 16px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}

/* eard */
#eard {
  padding: 20px 0;
  background: url(./img/planet\ img\ bg.png) no-repeat center/cover;
  min-height: 200px;
  height: 100vh;
}
.eard {
  position: relative;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.eard a {
  color: #253659;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  text-decoration-line: underline;
}

/* offers */

#offers {
  padding-top: 40px;
  background: url(./img/offers\ bg.png) no-repeat center/cover;
  /* filter: blur(4px); */
  min-height: 500px;
  height: 90vh;
}
.offers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -15px;
  height: 500px;
}
.offers-logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.offers-block {
  padding: 40px 20px 0 40px;
  width: 360px;
  height: 380px;
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.offers-block h3 {
  margin-bottom: 30px;
  width: 350px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
}
.offers-block input {
  margin: 10px 0;
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
  background: rgba(37, 54, 89, 0.8);
  backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.5);
  font-family: Open Sansx;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding-left: 20px;
}
.offers-block button {
  margin-top: 20px;
  width: 217px;
  height: 60px;
  background: #fff;
  color: #253659;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.offers-block button:hover {
  background: rgba(37, 54, 89, 0.84);
  color: rgba(255, 255, 255, 0.943);
}

/* footer */

#footer {
  background-color: #253659;
  min-height: 370px;
  height: 63vh;
}
.footer-blocks {
  padding-top: 50px;
  display: flex;
  align-items: start;
  gap: 60px;
}
.footer p {
  padding-top: 5px;
}
.footer-block1 img {
  width: 233px;
  height: 34px;
}
.footer-block1 p {
  width: 245px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer-block2 {
  display: flex;
  gap: 60px;
}
.footer h5 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer-block4 p {
  margin: 5px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer-block4 span {
  margin-right: 7px;
  width: 17px;
  height: 21px;
  color: #009ee3;
}
.footer-block2 span {
  margin-right: 7px;
  width: 17px;
  height: 21px;
  color: #009ee3;
}
.footer-block2 p {
  margin: 8px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.foot-numb {
  display: flex;
  align-items: center;
}
.foot-adres {
  display: flex;
  align-items: center;
}
.footer-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-line img {
  padding-top: 100px;
  width: 1260px;
}
.footer-end {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot-left p {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}
.foot-right p {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}
.foot-right span {
  color: #009ee3;
  font-size: 10px;
  font-weight: 400;
}
.foot-right a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #009ee3;
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}




